## 1.- Importamos el data set 
El data set se encuentra en la carpeta input, por lo que en la funcion read_csv() le damos el path en el que se encuentra el fichero

In [20]:
import pandas as pd
import re
from src.functions import changeCharacterSex, changeFatalValue

data = pd.read_csv("input/GSAF5.csv", encoding = "ISO-8859-1")
display(data)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

## 2.- Comprobamos los valores nulos del dataframe creado

In [21]:
print(data.isnull().sum())

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Eliminamos las columnas Unmamed: 22 y Unnamed:23 por tener la primera un dato y la segunda dos datos y no hacer referencia a que datos son

In [22]:
data = data[['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order']]
display(data)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [23]:
print(data['Type'].value_counts()) 
print(data['Fatal (Y/N)'].value_counts())
data['Sex '] = data['Sex '].fillna('UNKNOWN')
print(data['Sex '].value_counts())

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64
N          4315
Y          1552
UNKNOWN      94
 N            8
n             1
#VALUE!       1
N             1
F             1
Name: Fatal (Y/N), dtype: int64
M          4835
F           585
UNKNOWN     567
M             2
lli           1
.             1
N             1
Name: Sex , dtype: int64

In [24]:
set(data['Sex '])

{'.', 'F', 'M', 'M ', 'N', 'UNKNOWN', 'lli'}

In [25]:
data["Sex "] = data["Sex "].apply(changeCharacterSex)

In [26]:
set(data['Sex '])

{'F', 'M', 'UNKNOWN'}

In [27]:
print(set(data['Fatal (Y/N)']))

{nan, 'n', 'N ', 'F', 'UNKNOWN', '#VALUE!', 'N', ' N', 'Y'}

In [28]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].fillna('UNKNOWN')
print(set(data['Fatal (Y/N)']))

{'n', 'N ', 'F', 'UNKNOWN', '#VALUE!', 'N', ' N', 'Y'}

In [29]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].apply(changeFatalValue)

In [30]:
print(set(data['Fatal (Y/N)']))

{'Y', 'UNKNOWN', 'N'}

In [31]:
data1 = data[['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Fatal (Y/N)', 'Time',
       'Species ']]

In [32]:
display(data1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Fatal (Y/N),Time,Species
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,N,13h00,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,N,11h00,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,N,10h43,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,N,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,N,NaN,2 m shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,Y,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,Y,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,Y,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,Y,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,Y,NaN,NaN

In [33]:
data1['Country'] = data1['Country'].fillna('UNKNOWN')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
print(set(data1['Country']))

{'ST. MAARTIN', 'SEYCHELLES', 'VANUATU', 'NORTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'MONACO', 'BRITISH NEW GUINEA', 'OKINAWA', 'GUAM', 'PACIFIC OCEAN ', 'CAPE VERDE', 'SOUTH KOREA', 'LIBERIA', 'HONG KONG', 'BRITISH ISLES', 'THAILAND', 'NAMIBIA', 'SYRIA', 'CUBA', 'VIETNAM', 'BRITISH WEST INDIES', 'MAURITIUS', 'ST. MARTIN', 'SUDAN?', 'GREECE', 'BAHAMAS', 'DJIBOUTI', 'ASIA?', 'TUNISIA', 'TUVALU', 'KOREA', 'NEW ZEALAND', 'ARGENTINA', 'PALAU', 'NORTH ATLANTIC OCEAN ', 'URUGUAY', 'NEW CALEDONIA', 'NETHERLANDS ANTILLES', 'FIJI', 'GUINEA', 'AMERICAN SAMOA', 'NORWAY', 'SUDAN', 'TANZANIA', 'LIBYA', 'PANAMA', 'Sierra Leone', 'WESTERN SAMOA', 'ECUADOR', 'St Helena', 'GRENADA', 'DIEGO GARCIA', 'UNITED ARAB EMIRATES (UAE)', 'PARAGUAY', 'INDIA', 'TAIWAN', 'MEXICO', 'PORTUGAL', 'NORTH SEA', 'VENEZUELA', 'JAVA', 'MADAGASCAR', 'PHILIPPINES', 'TURKEY', 'CANADA', 'ANGOLA', 'TURKS & CAICOS', 'AZORES', 'BERMUDA', 'SOUTH PACIFIC OCEAN', 'RUSSIA', 'CROATIA', 'FRENCH POLYNESIA', 'CURACAO', 'UNITED ARAB EMIRATES', 'MARSHALL ISLANDS', 'NEW BRITAIN', 'MALTA', ' PHILIPPINES', 'EGYPT / ISRAEL', 'GUATEMALA', 'THE BALKANS', 'GUYANA', 'ISRAEL', 'MAYOTTE', 'SENEGAL', 'BAY OF BENGAL', 'COOK ISLANDS', 'PAPUA NEW GUINEA', 'MOZAMBIQUE', 'PUERTO RICO', 'CENTRAL PACIFIC', 'UNITED KINGDOM', 'NIGERIA', 'BAHREIN', 'ITALY / CROATIA', 'FRANCE', 'Seychelles', 'CARIBBEAN SEA', 'NORTH PACIFIC OCEAN', 'GHANA', 'MONTENEGRO', 'NORTHERN ARABIAN SEA', 'JAMAICA', 'ARUBA', 'LEBANON', 'CAYMAN ISLANDS', 'RED SEA?', 'PALESTINIAN TERRITORIES', 'NICARAGUA ', 'SPAIN', 'ANDAMAN / NICOBAR ISLANDAS', 'IRELAND', 'Between PORTUGAL & INDIA', 'SOUTHWEST PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'IRAN', 'BARBADOS', 'ATLANTIC OCEAN', 'SIERRA LEONE', 'CEYLON (SRI LANKA)', 'DOMINICAN REPUBLIC', 'Fiji', 'CHINA', 'ITALY', 'CRETE', 'Coast of AFRICA', 'GREENLAND', 'BURMA', 'REUNION', 'INDONESIA', 'JOHNSTON ISLAND', 'MICRONESIA', 'EL SALVADOR', 'ADMIRALTY ISLANDS', 'HAITI', 'IRAQ', 'INDIAN OCEAN?', 'INDIAN OCEAN', 'BRAZIL', 'UNKNOWN', 'MID-PACIFC OCEAN', 'YEMEN', 'COSTA RICA', 'KIRIBATI', 'COLUMBIA', 'MEDITERRANEAN SEA', 'NORTHERN MARIANA ISLANDS', 'TRINIDAD & TOBAGO', 'RED SEA', 'MID ATLANTIC OCEAN', 'SAUDI ARABIA', 'ALGERIA', 'SOMALIA', 'AUSTRALIA', 'JAPAN', 'FALKLAND ISLANDS', 'GRAND CAYMAN', 'EGYPT ', 'HONDURAS', 'BELIZE', 'SOLOMON ISLANDS / VANUATU', 'MEDITERRANEAN SEA?', 'KUWAIT', 'SLOVENIA', 'ICELAND', 'SOUTH AFRICA', 'BRITISH VIRGIN ISLANDS', 'OCEAN', 'EQUATORIAL GUINEA / CAMEROON', 'CYPRUS', 'MALAYSIA', 'SAMOA', 'SAN DOMINGO', 'EGYPT', 'CHILE', 'MALDIVE ISLANDS', 'TASMAN SEA', 'GULF OF ADEN', 'SINGAPORE', 'PERSIAN GULF', 'GEORGIA', 'SOLOMON ISLANDS', ' TONGA', 'YEMEN ', 'MEXICO ', 'SRI LANKA', 'PACIFIC OCEAN', 'NEVIS', 'NICARAGUA', 'TONGA', 'ANTIGUA', 'KENYA', 'BANGLADESH', 'RED SEA / INDIAN OCEAN', 'IRAN / IRAQ', 'SOUTH ATLANTIC OCEAN', 'GABON', 'SCOTLAND', 'MARTINIQUE', 'NEW GUINEA', 'SWEDEN', 'ENGLAND', 'USA'}